*{
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
    font-family: 'Arial (Hebrew)', Arial;
}

.containerHeader{
    background-image: linear-gradient(rgb(144,144,144) 80%,rgb(170,170,170));
    width: 100%;
    height: 104px;
    top: 0;
}

.container{
    width: 900px;
    margin: 10px auto;
    /* padding-bottom: 30px; */
    background: #fff;
    
}

.header{
    background-image: linear-gradient(rgb(144,144,144) 80%,rgb(170,170,170));
    position: relative;
}

.pazLogo{
    position: absolute;
    top: 35%;
    left: 95%;
}

.divInput{
    position: absolute;
    padding-right: 690px;
    padding-top: 20px;    
}

.aEng{
    float: right;
    font-size: 12px;
    font-weight: bold;
    color:white;
    padding-left: 10px;
    padding-top: 5px;;
    text-decoration: none;
}

.input{
    height: 19px;
    width: 134px;
    float: right;
    border-top-right-radius: 10px;
    text-decoration: none;
}

.searchBtn{
    background-image: url("images/search_button.png");
    height: 19px;
    width: 19px;
    float: right;
}


nav{
    height: 104px;
        }

nav>ul{
    list-style: none;
    padding: 0;
    position: relative;
    height: 33px;
    top: 50px;
    margin: 0 80px 0 0;
}

nav>ul>li{
    display: inline-block;

}
nav>ul>li>a, nav>ul>li>div>a    {
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-weight: bold;
    color:#fff;
    height: 100%;
}
.subMenu{
    position: absolute;
    display: none;
    padding-top: 20px;
    /* margin-top: 5px; */
    top:33px;  
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    color:#fff;
    background-image: linear-gradient(rgb(144,144,144) 80%,rgb(170,170,170));   
}

.dropdownSep{
    display: block;
    width: 100%;
    height: 1px;
    margin: 0;
    zoom: 1;
    background-repeat: repeat-x;
    
    padding: 5px 0;
    white-space: nowrap; 
    color: #fff;
    /* color: #fff;
    font-weight: bold; */
}

.liMenu{
    position: relative;
}

.liMenu:hover >.subMenu{
    display: block;
}


.menuSep{
    background-image: url("images/menu_sep.png");
    width: 4px;
    height: 21px;
    margin: 0 16px;
    bottom: 0;
    display: inline-block;
}

.divTop1{
    float: right;
    margin-top: 10px;
    margin-left:12px; 
    margin-right: 0;
    width: 288px;
    /* height: 352px; */
    /* background-color: black; */
    border-bottom-right-radius: 25px;
    position: relative;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.imgTop{
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 25px;
}

.divTop1_1{
    background-image: url("images/hp_tab_text_bg.png");
    position: absolute;
    bottom: 5px;
    right: 7px;
    width: 244px;
    height: 98px;
    border-bottom-right-radius: 25px;

}
h3 {
    font-size: 14px;
    font-weight: bold;
    color:#fff;
    margin-bottom: 0;
    padding-right: 5px;
}

p{
    color: #fff;
    padding-top: 0;
    font-size: 13px;
    margin-top: 4px;    
    padding-right: 5px;
}

.divContinue{
    position: absolute;
    bottom: 3px;
    left: 10px;
}

.aReadMore{
    color: #fff;
    font-size: 13px;
}

.aReadMore:hover, .aReadMore2:hover , .footerLink:hover, .footerLinkRed:hover{
    color:#005CA0;
}

.divBottom1
{
    background-image: url("images/small_cube_bg.png");
    width: 292px;
    height: 217px;
    float: right;
    margin-top: 21px;
    margin-left:8px; 
    margin-right: 0;
    position: relative;    
}

.divMoreDetails{
    position: absolute;
    bottom: 3px;
    left: 10px;
    font-size: 13px;
}

.aReadMore2{
    color: #72716d;
    font-size: 13px;
}

h2{
    color: #575757;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    padding-right: 20px;
}

.imgBottom{
    padding-top: 20px;
    padding-right: 21px;
}

.imgMap{
    padding-right: 200px;
    padding-top: 10px;
}

.divStations1{
    position: absolute;
    top: 55px;
    right: 20px;
    font-size: 13px;
}

.divStations2{
    position: absolute;
    top: 75px;
    right: 20px;
    font-size: 13px;
}

.divStations3{
    position: absolute;
    top: 95px;
    right: 20px;
    font-size: 13px;
}

footer{
    position: fixed;
    width: 100%;
    height: 39px;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgb(144,144,144) 80%,rgb(170,170,170));
}

.footerLink, .footerLinkRed{
    color: #fff;
    font-size: 14px;
    /* margin: 0px 2px 0px 2px; */
    text-decoration: none;
    border-right: 2px solid #fff;
    padding-right: 10px;
    height: 60%;


}

.divLink{
    padding-right: 25px;
}
.footerLinkRed{color: red;}

.divFooter{
    position: relative;
    top: 15px;
    right: 320px;
}

.divFb{
    position: absolute;
    /* margin-left: 5px; */
    /* right: 5px; */
    /* left: 5px; */
}

/* .divFb{margin-right: 1px; display: inline;} */

.footerSep{
    margin-top: 10px;
    padding: 0;
    display: inline;
    /* padding: 10px; */
    /* bottom: 10px; */
}
